body {
  margin-bottom: 0.5rem;
  margin-top: 0.5;
  width: 100%;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-size: 1.4rem;
  color: #555;
  text-align: center;
  line-height: .5;
  border: 0.5rem solid rgb(86, 165, 235, 0.25);
  padding: 0 1.5em 0 1.5em;
  justify-content: center;
  position: absolute;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  font-family: 'Saira Semi Condensed', sans-serif;
  padding: 5px;
  position: absolute;
}


.jumbotron {
  text-align: center;
  justify-content: center;
  background-color: azure;
  font-family: 'Saira Semi Condensed', sans-serif;
  color: black;
  border-radius: 0;
  border-bottom: 0.1rem solid rgb(86, 165, 235, 0.25);
}


.row {
  white-space: pre-wrap;
  height: 100px;
  border-top: 0.1rem solid rgb(86, 165, 235, 0.25);
  border-right: 0.1rem solid rgb(86, 165, 235, 0.25);
  border-left: 0.1rem solid rgb(86, 165, 235, 0.25);
  border-bottom: 0.1rem solid rgb(86, 165, 235, 0.25);
  
}
.past {
  background-color: #e6e4e4aa;
  color: white;
}

.present {
  background-color: #ff6961aa;
  color: white;
}

.future {
  background-color: #81f381aa;
  color: white;
}

.hour {
  white-space: pre-wrap;
  height: 50px;
  border-top: 1px solid rgb(85, 78, 78);;
  border-right: 0.1rem solid rgb(86, 165, 235, 0.25);
}

.saveBtn {
  height: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(5, 29, 253, 0.667);
  color: white;
}

.saveBtn i:hover {
  font-size: 1.4rem;
  transition: all .3s ease-in-out;
}

